

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
terraform/AWS-access-keys.text


#Ignore cursor AI rules
.cursor/rules/codacy.mdc

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
tfplan.*
*.tfplan.json
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.d/
*.tfstate.backup
.terraform.tfstate.lock.info
terraform/key.aws.text
terraform/ec2-rhel97/.local-ssh/
terraform/openldap/.local-ssh/
terraform/openldap-master-replica/.local-ssh/
terraform/openldap/reports/ansible_inventory.ini
terraform/openldap/reports/ansible_extra_vars.json
terraform/openldap/tools/load/runs/20260212T105929Z/logs/*
terraform/openldap/tools/load/runs/20260212T105929Z/state
.env
.DS_Store
.DS_Store
