global
  log stdout format raw local0
  maxconn 2048

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client  1m
  timeout server  1m

# READ VIP (LDAP 389)
frontend fe_ldap_read_389
  bind *:2389
  default_backend be_ldap_read_389

backend be_ldap_read_389
  option tcp-check
  balance roundrobin
  server r1 ldap-replica-a:389 check
  server r2 ldap-replica-b:389 check
  # masters as backups for reads
  server m1 ldap-master-a:389 check backup
  server m2 ldap-master-b:389 check backup

# READ VIP (LDAPS 636)
frontend fe_ldaps_read_636
  bind *:2636
  default_backend be_ldaps_read_636

backend be_ldaps_read_636
  option tcp-check
  balance roundrobin
  server r1 ldap-replica-a:636 check
  server r2 ldap-replica-b:636 check
  server m1 ldap-master-a:636 check backup
  server m2 ldap-master-b:636 check backup
