global
  log stdout format raw local0
  maxconn 2048

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client  1m
  timeout server  1m

# WRITE VIP (LDAP 389)
frontend fe_ldap_write_389
  bind *:1389
  default_backend be_ldap_write_389

backend be_ldap_write_389
  option tcp-check
  # prefer master-a, failover to master-b
  server master_a ldap-master-a:389 check
  server master_b ldap-master-b:389 check backup

# WRITE VIP (LDAPS 636)
frontend fe_ldaps_write_636
  bind *:1636
  default_backend be_ldaps_write_636

backend be_ldaps_write_636
  option tcp-check
  server master_a ldap-master-a:636 check
  server master_b ldap-master-b:636 check backup
