global
  log stdout format raw local0

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client  1m
  timeout server  1m

frontend ldap_front
  bind *:389
  default_backend ldap_back

backend ldap_back
  # Prefer ldap1; failover to ldap2 if ldap1 is down.
  option tcp-check

  # Basic TCP check is often enough for LDAP port availability.
  server ldap1 ldap1.example.org:389 check inter 2s fall 3 rise 2
  server ldap2 ldap2.example.org:389 check inter 2s fall 3 rise 2 backup
