[defaults]
host_key_checking = False
interpreter_python = auto_silent
stdout_callback = yaml
callback_whitelist = profile_tasks
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible-cache
fact_caching_timeout = 3600
retry_files_enabled = False
roles_path = ./roles
inventory = ./inventory/aws_lab.yml

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ConnectTimeout=10
pipelining = True
control_path = /tmp/ansible-%%h-%%p-%%r
