ROLE={{ openldap_role }}
VPC_NAME={{ openldap_vpc_name }}
BASE_DN={{ openldap_base_dn }}
ADMIN_DN={{ openldap_admin_dn }}
ADMIN_PW={{ openldap_admin_pw }}
REPL_DN={{ openldap_repl_dn }}
REPL_PW={{ openldap_repl_pw }}
SERVER_ID={{ openldap_server_id }}
PRIVATE_IP={{ openldap_private_ip }}
LDAP_PORT={{ openldap_ldap_port }}
LDAPS_PORT={{ openldap_ldaps_port }}
LDAP_TLS_MODE={{ openldap_tls_mode }}
REQUIRE_TLS_SIMPLE_BINDS={{ (openldap_require_tls_simple_binds | bool) | ternary('true','false') }}
WRITE_LB_DNS={{ openldap_write_lb_dns }}
ORG_NAME={{ openldap_org_name }}
MASTER_IPS="{{ openldap_master_ips | join(' ') }}"
KEEPALIVED_ENABLED={{ (openldap_keepalived_enabled | bool) | ternary('true','false') }}
KEEPALIVED_ROLE={{ openldap_keepalived_role }}
KEEPALIVED_PEER_IP={{ openldap_keepalived_peer_ip }}
KEEPALIVED_PRIORITY={{ openldap_keepalived_priority }}
KEEPALIVED_AUTH_PASS={{ openldap_keepalived_auth_pass }}
KEEPALIVED_EIP_ALLOC_ID={{ openldap_keepalived_eip_allocation_id }}
ARTIFACTS_BUCKET={{ openldap_artifacts_bucket_name }}
